<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.Logout</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllCustomers</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.FindAllCustomers</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindAllRentalLocations</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.FindAllRentalLocations</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>FindAllReservations</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.FindAllReservations</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>FindAllVehicles</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.FindAllVehicles</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>FindAllVehicleTypes</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.FindAllVehicleTypes</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShowMainWindow</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.ShowMainWindow</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateComment</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateComment</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateCustomer</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateCustomer</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateRentalLocation</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateRentalLocation</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateReservation</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateReservation</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateVehicle</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateVehicle</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>CreateVehicleType</servlet-name>
  <servlet-class>edu.uga.cs.rentaride.presentation.CreateVehicleType</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllCustomers</servlet-name>
  <url-pattern>/FindAllCustomers</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllRentalLocations</servlet-name>
  <url-pattern>/FindAllRentalLocations</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FindAllReservations</servlet-name>
  <url-pattern>/FindAllReservations</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>FindAllVehicles</servlet-name>
  <url-pattern>/FindAllVehicles</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>FindAllVehicleTypes</servlet-name>
  <url-pattern>/FindAllVehicleTypes</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ShowMainWindow</servlet-name>
  <url-pattern>/ShowMainWindow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateComment</servlet-name>
  <url-pattern>/CreateComment</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateCustomer</servlet-name>
  <url-pattern>/CreateCustomer</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateRentalLocation</servlet-name>
  <url-pattern>/CreateRentalLocation</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateReservation</servlet-name>
  <url-pattern>/CreateReservation</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CreateVehicle</servlet-name>
  <url-pattern>/CreateVehicle</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CreateVehicleType</servlet-name>
  <url-pattern>/CreateVehicleType</url-pattern>
 </servlet-mapping>
</web-app>